:root {
    --accent: #8ae234;
    --text: #fdfefc;
    --background: #2d0922;
    --accent2: #6d98c8;
    --common-font: Ubuntu Mono;

}

.accent {
    color: var(--accent, #fff);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 1.2rem;
    font-family: var(--common-font), Ubuntu Mono, monospace, sans-serif;
    font-weight: 500;
    background-color: var(--background, #000);
    overflow: wrap;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: wrap;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#window {
    animation: appear steps(1) 1s forwards;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: wrap;
}

#loading {
    position: absolute;
    top: 1rem;
    left: 1rem;
    animation: disappear steps(1) 1s forwards;
}

br {
    height: 1rem;
}

p {
    margin: 0;
    margin-bottom: 0rem;
    color: var(--text, #fff);
    min-height: 1.25rem;
}

span {
    min-height: 1.25rem
}

a {
    color: var(--text, #fff);
    text-decoration: underline;
}

a:hover {
    color: var(--accent, #fff);
}

#input {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: var(--background, #000);
    caret-color: transparent;
}

*[contenteditable]:empty:before {
    content: "\feff"; /* ZERO WIDTH NO-BREAK SPACE */
}

.indent {
    margin-left: 1.5rem;
}